body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.timer {
  border:1px solid red;
  color:#bbb;
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  min-height:180px;
  text-align:center;
  width:180px;
}
.timer > div{
}

#time {
  letter-spacing:3px;
}